@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-warning" role="alert">
    If you try any clinic other than Health Lab or Medical Center you won't get a result. This is not a bug, it's a feature.
</div>
<p>Enter a clinic to get their questionnaires!</p>
<form method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="clinic" placeholder="Clinic" aria-label="Clinic" aria-describedby="search-button">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit" id="search-button">Search</button>
        </div>
    </div>
</form>